body {
    background-image: url('https://i.pinimg.com/originals/72/e1/84/72e184aef41139afbbeba8c67b10d5e1.png');
    background-size: contain;
}

nav .navbar-brand
{
    font-size: xx-large;
    background: linear-gradient(
        to right,
        hsl(360, 100%, 50%),
        hsl(315, 80%, 54%),
        hsl(250, 50%, 54%)
    );
    background-clip: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#conf_pw, #user_check {
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
}

.nav > li {
    margin-right: 5px;
}

.blurred-bg {
    width: 20%;
    margin: auto;
    background-color: #ffffff10;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.progress-sm {
    width: 15rem !important;
    margin: auto;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

  /* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: #f00;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 100%;
    margin-left: -80px;
}

  /* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 99.5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f00 transparent transparent transparent;
}

  /* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}