{% extends "homepage.html" %}

{% block title %}HANGMAN{% endblock %}

{% block main %}
    <div class="container blurred-bg justify-content-between">
    <div class="container">
            <h1 class="text-danger text-center">HANGMAN</h1>
            <img id="hang" style="width: 35%; height: 35%;" src="static/images/hang.png">
            <form id="hangman-form" class="d-inline-flex" method="POST" action="/hangman">
            {% if not word %}
            <label class="fs-4 p-2 bg-light" for="difficulty">DIFFICULTY:</label>
            <select id="difficulty" class="bg-light mx-4" name="difficulty">
                    <option>Easy</option>
                    <option>Medium</option>
                    <option>Hard</option>
            </select>
            <button id="btn-hangman" class="fs-4 btn btn-warning" type="button">GENERATE WORD</button><br><br>
            {% else %}
                <div class="d-inline-flex" style="float: right">
                {% for letter in range(word | length) %}
                    <span name="word_letter" id="L{{letter}}" class="p-2 fs-2 text-white">___</span>
                {% endfor %}
                </div>
            {% endif %}
            </form><br>
                <div class="d-inline-flex bg-info text-dark" id="def"></div>
                <div id="missed" class="fs-2 text-danger"></div>
            <div style="margin: auto" class="p-5">
                {% for letter in alphabet %}
                    <button name="abc" onclick="checkLetter(this)">{{letter}}</button>
                    {% endfor %}
            </div>
        </div>
        {% if not answers %}
        <div class="fs-1 text-danger text-center" id="overlay"><span id="overlayText"> GAME OVER </span><br>
            <button id="ngamebtn" onclick="newgame()"> START NEW GAME </button>
        </div>
        {% else %}
            {% if result == "lost"%}
                <div class="fs-1 text-danger text-center" id="overlay-shown"><span id="overlayText"> GAME OVER </span><br>
                    <button id="ngamebtn" onclick="newgame()"> START NEW GAME </button>
                    <h4 class="text-primary"> Coins earned: {{rewards['coins']}} </h4><br>
                    <h4 class="text-primary"> XP earned: {{rewards['xp']}} </h4><br>
                </div>
            {% else %}
                <div class="fs-1 text-danger text-center" id="overlay-shown"><span id="overlayText"> YOU WON! </span><br>
                    <button id="ngamebtn" onclick="newgame()"> START NEW GAME </button>
                    <h4 class="text-primary"> Coins earned: {{rewards['coins']}} </h4><br>
                    <h4 class="text-primary"> XP earned: {{rewards['xp']}} </h4><br>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if not word and not rewards%}
    <script>
    let btn = document.getElementById("btn-hangman");
    let difficulty = document.getElementById("difficulty").value;
    btn.addEventListener('click', async function(){
        let response = await fetch('/match?game=Hangman&difficulty=' + difficulty + '&start=true');
        let result = await response.json();
        if (result == 0) {
            document.getElementById("hangman-form").submit();
        }
    });
    </script>
    {% elif not rewards %}
    <script>
    let definition = document.getElementById("def");
    window.addEventListener('load', async function(){
        curr_word = String(JSON.parse({{ curr_word | tojson}}));
        let response = await fetch('https://api.dictionaryapi.dev/api/v2/entries/en/' + curr_word);
        let def = await response.json();
        def = def[0]['meanings'][0]['definitions'][0]['definition'];
        if (def == ""){
            definition.innerHTML = 'DEFINITION NOT FOUND';
        } else {
            definition.innerHTML = 'DEFINITION:' + def;
        }
    });
    let incorrect = 0;
    let correct = 0;
    function checkLetter(letter){
        abc = JSON.parse({{ abc | tojson}});
        curr_word = String(JSON.parse({{ curr_word | tojson}}));
        if (!abc.includes(letter.innerHTML)) {
            alert("DON'T DO THAT AGAIN!");
            setTimeout(function(){
                window.location.assign("https://www.google.com/search?q=how+not+to+be+an+asshole");
            }, 2000);
        }
        if (!curr_word.includes(letter.innerHTML.toLowerCase())){
            letter.disabled = true;
            document.getElementById('missed').innerHTML += letter.innerHTML;
            incorrect++;
            img = document.getElementById("hang");
            if (img.src == "https://takater-code50-46070051-xg45wx65fv4pj-5000.githubpreview.dev/static/images/hang.png") {
                img.src = "https://takater-code50-46070051-xg45wx65fv4pj-5000.githubpreview.dev/static/images/hang_head.png";
            } else if (img.src == "https://takater-code50-46070051-xg45wx65fv4pj-5000.githubpreview.dev/static/images/hang_head.png") {
                img.src = "https://takater-code50-46070051-xg45wx65fv4pj-5000.githubpreview.dev/static/images/hang_body.png";
            } else if (img.src == "https://takater-code50-46070051-xg45wx65fv4pj-5000.githubpreview.dev/static/images/hang_body.png") {
                img.src = "https://takater-code50-46070051-xg45wx65fv4pj-5000.githubpreview.dev/static/images/hang_arm.png";
            } else if (img.src == "https://takater-code50-46070051-xg45wx65fv4pj-5000.githubpreview.dev/static/images/hang_arm.png") {
                img.src = "https://takater-code50-46070051-xg45wx65fv4pj-5000.githubpreview.dev/static/images/hang_arms.png";
            } else if (img.src == "https://takater-code50-46070051-xg45wx65fv4pj-5000.githubpreview.dev/static/images/hang_arms.png") {
                img.src = "https://takater-code50-46070051-xg45wx65fv4pj-5000.githubpreview.dev/static/images/hang_leg.png";
            } else if (img.src == "https://takater-code50-46070051-xg45wx65fv4pj-5000.githubpreview.dev/static/images/hang_leg.png") {
                img.src = "https://takater-code50-46070051-xg45wx65fv4pj-5000.githubpreview.dev/static/images/hang_dead.png";
                return gameover();
            }
        } else {
            word_letters = document.getElementsByName("word_letter");
            for(i = 0; i < word_letters.length; i++) {
                if(letter.innerHTML.toLowerCase() == curr_word[i]) {
                    correct++;
                    word_letters[i].innerHTML = letter.innerHTML;
                    letter.disabled = true;
                }
            }
            let check = Array.from(curr_word).every(checkanswer);
            if (check) {
                return wingame();
            }
        }
    }

    function checkanswer(letter){
        let word_letters = document.getElementsByName("word_letter");
        const answer_letters = [];
        for (i = 0; i < word_letters.length; i++){
            answer_letters[i] = word_letters[i].innerHTML.toLowerCase();
        }
        return answer_letters.includes(letter);
    }

    function gameover(){
        let_btn = document.getElementsByName("abc");
        let word_letters = document.getElementsByName("word_letter");
        for(i = 0; i < let_btn.length; i++) {
            let_btn[i].disabled = true;
        }
        document.getElementById("overlay").style.display = "block"
        answers = correct;
        let url = "/hangman?answers=" + String(answers) + "&result=lost";
        document.getElementById("hangman-form").action = url;
        document.getElementById("hangman-form").submit();
    }
    function wingame(){
        let_btn = document.getElementsByName("abc");
        for(i = 0; i < let_btn.length; i++) {
            let_btn[i].disabled = true;
        }
        let overlay = document.getElementById("overlay")
        document.getElementById("overlayText").innerHTML = "YOU WON!"
        overlay.style.display = "block"
        answers = (correct*1.5) - incorrect
        let url = "/hangman?answers=" + String(answers) + "&result=win";
        document.getElementById("hangman-form").action = url;
        document.getElementById("hangman-form").submit();
    }
    </script>
    {% else %}
    <script>
        function newgame(){
            window.location.assign("/hangman");
        }
    </script>
    {% endif %}
{% endblock %}