{% extends "homepage.html" %}

{% block title %}PROFILE{% endblock %}

{% block main %}
    <select id="table-select" onchange="chooseTable()" class="btn dropdown-toggle bg-dark text-white text-center">
                    <option class="dropdown-item text-white">Choose table</option>
                    <option class="dropdown-item text-white">Matches</option>
                    <option class="dropdown-item text-white">Purchases</option>
    </select><br><br>
<div class="container">
    <table id="matches-table" class="table table-bordered text-white table-dark table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Game</th>
                <th scope="col">Correct answers</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in range(matches | length) %}
                <tr>
                    {% for game in range(games | length) %}
                        {% if matches[row]['game_id'] == games[game]['id'] %}
                        <td>{{games[game]['game_name']}}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{matches[row]['answers']}}</td>
                    <td>{{matches[row]['date']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br><br>
    <table id="purchases-table" class="table table-bordered text-white table-dark table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in range(user.purchases | length) %}
                <tr>
                    {% for product in range(store | length) %}
                        {% if user.purchases[row]['product_id'] == store[product]['productId'] %}
                        <td><img src="/static/store/{{store[product]['title']}}"></td>
                        {% endif %}
                    {% endfor %}
                    <td>{{user.purchases[row]['price']}}</td>
                    <td>{{user.purchases[row]['date']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <script>
        function chooseTable() {
            let selection = document.getElementById("table-select").value;
            if (selection.localeCompare("Matches") == 0) {
                document.getElementById("purchases-table").style.display = 'none';
                document.getElementById("matches-table").style.display = 'table';
            } else if (selection.localeCompare("Purchases") == 0) {
                document.getElementById("matches-table").style.display = 'none';
                document.getElementById("purchases-table").style.display = 'table';
            } else {
                document.getElementById("matches-table").style.display = 'table';
                document.getElementById("purchases-table").style.display = 'table';
            }
        }
    </script>
{% endblock %}