{% extends 'homepage.html' %}

{% block title %}STORE{% endblock %}

{% block main %}
    <select id="store-select" onchange="chooseStore()" class="btn dropdown-toggle bg-dark text-white text-center">
                    <option class="dropdown-item text-white">Choose items</option>
                    <option class="dropdown-item text-white">Simple Avatars</option>
                    <option class="dropdown-item text-white">Faced Avatars</option>
                    <option class="dropdown-item text-white">Styled Avatars</option>
    </select><br><br>
<div class="container">
    <table id="matches-table" class="table table-bordered text-white table-dark table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Avatar</th>
                <th scope="col" colspan="2">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in store %}
                <tr name="{{product['price']}}">
                    <td><img src="/static/store/{{product['title']}}"></td>
                    <td>{{product['price']}} coins</td>
                    <td><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ConfirmPurchaseModal{{product['productId']}}">BUY</button>
                    <!-- Modal -->
                    <div class="modal fade text-dark" id="ConfirmPurchaseModal{{product['productId']}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirm purchase?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <!-- Form to buy -->
                        <form method="POST" action="/store?title={{product['title']}}">
                            <img src="/static/store/{{product['title']}}"><br>
                            <span class="fs-3">{{product['price']}} coins</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">CONFIRM</button>
                        </form>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- MODAL END -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
function chooseStore(){
    let selection = document.getElementById("store-select").value;
    if(selection.localeCompare("Simple Avatars") == 0) {
        let simple = document.getElementsByName("200");
        let faced = document.getElementsByName("700");
        let styled = document.getElementsByName("1000");
        for(i = 0; i < faced.length; i++) {
            faced[i].style.display = 'none';
        }
        for(i = 0; i < styled.length; i++) {
            styled[i].style.display = 'none';
        }
        for(i = 0; i < simple.length; i++) {
            simple[i].style.display = 'table-row';
        }
    } else if (selection.localeCompare("Faced Avatars") == 0) {
        let simple = document.getElementsByName("200");
        let faced = document.getElementsByName("700");
        let styled = document.getElementsByName("1000");
        for(i = 0; i < faced.length; i++) {
            faced[i].style.display = 'table-row';
        }
        for(i = 0; i < styled.length; i++) {
            styled[i].style.display = 'none';
        }
        for(i = 0; i < simple.length; i++) {
            simple[i].style.display = 'none';
        }
    } else if (selection.localeCompare("Styled Avatars") == 0) {
        let simple = document.getElementsByName("200");
        let faced = document.getElementsByName("700");
        let styled = document.getElementsByName("1000");
        for(i = 0; i < faced.length; i++) {
            faced[i].style.display = 'none';
        }
        for(i = 0; i < styled.length; i++) {
            styled[i].style.display = 'table-row';
        }
        for(i = 0; i < simple.length; i++) {
            simple[i].style.display = 'none';
        }
    } else {
        let simple = document.getElementsByName("200");
        let faced = document.getElementsByName("700");
        let styled = document.getElementsByName("1000");
        for(i = 0; i < faced.length; i++) {
            faced[i].style.display = 'table-row';
        }
        for(i = 0; i < styled.length; i++) {
            styled[i].style.display = 'table-row';
        }
        for(i = 0; i < simple.length; i++) {
            simple[i].style.display = 'table-row';
        }
    }
}
</script>
{% endblock %}