{% extends "homepage.html" %}

{% block title %}TRIVIA{% endblock %}

{% block main %}
    <div class="container blurred-bg">
        <div class="container-fluid">
            <h1 class="text-info text-center">TRIVIA</h1>
        </div>
        <form style="width: 50%; margin: auto" action="/trivia/question" method="POST">
        <div class="form-select bg-warning" >
            <label class="form-label fs-4" for="category">CATEGORY:</label>
            <select class="form-control" name="category">
                    <option>Random</option>
                {% for row in categories %}
                    <option>{{row}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-select bg-danger" >
            <label class="form-label fs-4" for="difficulty">DIFFICULTY:</label>
            <select class="form-control" name="difficulty">
                    <option>Easy</option>
                    <option>Medium</option>
                    <option>Hard</option>
            </select>
        </div>
        <div class="form-select bg-info" >
            <label class="form-label fs-4" for="number">NUMBER OF QUESTIONS:</label>
            <select class="form-control" name="number">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
            </select>
        </div><br>
            <button class="btn btn-lg btn-primary fs-1" type="submit">A S K <span style="visibility:hidden"><></span>M E !</button>
        </form>
    </div>
{% endblock %}